body {
  animation: change-color linear 12s infinite;
}

textarea, button, div, p {
  font-family: 'Courier New', monospace;
  border: 2px solid #040;
  border-radius: 0px;
  background-color: #010;
  color: #0f0;
  text-shadow: 1px 1px 10px #0f0, 1px 1px 10px #0c0;
}

button:active {
  border: 2px solid #0b0;
  background-color: #080;
}

button:disabled {
  border: 2px solid #080;
  background-color: #000;
}

@keyframes change-color {
  0% {background-color: #000;}
  16% {background-color: #030;}
  33% {background-color: #020;}
  50% {background-color: #040;}
  67% {background-color: #010;}
  84% {background-color: #050;}
  100% {background-color: #000;}
}